<%- include("partials/header") -%>

<h1 class="about_h1">
    Hello,
</h1>

<p class="about_p">
    My name is Abioro Olamide. I am a software engineer. I'm passionate about 
    assisting individuals and organizations in creating astounding websites 
    and applications for web and mobile devices. After receiving a Bsc. in 
    Physics from the Federal University of Agriculture in Abeokuta, I 
    discovered my passion for coding. I've gained a wealth of experience 
    designing and building web and mobile applications since then. <br>
    In April of 2019, I completed my first project as a web designer by
    creating a website for "DJ Lasc Music Empire" using WordPress. I
    then went on to take some online courses on AQskills and Udemy to
    strengthen my web design skills and learn web programming. Since then,
    I've been supporting organizations and enterprises in the creation and
    development of outstanding websites and applications. <br>
    I am currently enrolled in the Africa Leadership Xcelerator to learn 
    more about software engineering. <br>

    As a young man in Nigeria who is involved in a variety of activities in 
    order to fulfill basic necessities, I am prone to forgetting some of the 
    activities that I am expected to complete on a daily basis. I decided to 
    use my technical knowledge to tackle this problem. I feel the to-do 
    list will help me better arrange my everyday tasks. And will also assist 
    me in completing all of these tasks without forgetting any. There are many 
    folks out there who can't recall their entire day's activities. I feel they 
    will benefit much from this to-do list software.
</p>

<%- include("partials/footer") -%>